<!DOCTYPE html>

<html lang ="en">

	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<title>Hooker Appliance</title>	
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" href="style.css">
		
	</head>
	
	<body>
	
		<div class = "menuBar center">
			<div>				
				<img src="logo.png" width="200" class="logo">
				<img src="logo.png" width="200" class="logo2">
				<h1 class = "title"> HOOKER <br>APPLIANCE ADD CARD </h1>	
							
			</div>
			<div>
				<a href= MainCards.html class="home">HOME </a>
			</div>
		</div>
		
		<br>
		
	

		<div id = "app" class ="cardBox cards" >
			<span>
			
			<h1 class = "center">Add Appliance Card</h1>
			</span>
			<form>
			
				<div class = " cards"  v-for = "inputs in labels">
					<span>
						<label :for ="inputs" > {{inputs}}: </label>
						<input type="text" :id="inputs">
					</span>
				</div>
				
				<div class = "cards inLine">
					<label for ="payment" class="inLine">Payment Type</label>
					<select name="Payment" id="payment">
						<option value="credit">Credit</option>
						<option value="debit">Debit</option>
						<option value="cash">Cash</option>
						<option value="check">Check</option>
						<option value="synchrony">Synchrony</option>
						<option value="cityCreek">City Creek</option>
					</select>
				</div>
				

				
				<div class= "cards">
					<input type="button" value = "Add Card">
				</div>
				
			</form>	
		</div>
		

		
		<script type="text/javascript">
			ticketLabels = [
			"Model#",
			"Appliance",
			"Make",
			"Invoice",
			"Serial#",
			"Class",
			"Date",
			"Sold Date",
			"Purchaser",
			"Selling Price"
			
			
			
			];
			
	
			var app = new Vue({
				el: '#app',
				// All the data used in vue
				data: {
					labels:ticketLabels,
				},
				methods:{
				
				},
				computed:{
					
				},				
			});
			document.getElementById('Date').value = theDate;
	
		</script>
		
		
	</body>

</html>